// color palette
$primary-color: #007aff; // systemBlue
$secondary-color: #5856d6; // systemIndigo
$anchor-color: #0070c9;

// shades of gray
$gray600: #e6e6e6;
$gray500: #aeaeb2;
$gray400: #c7c7cc;
$gray300: #d1d1d6;
$gray200: #e5e5ea;
$gray100: #8e8e93;
$black: #000000;
$white: #fafafa;
$off-white: #f8f8ff;

// global component colors
$border-color: $gray300;
$body-background: $white;
$body-font-color: $black;

// reference: https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/
