// ----------------------------
// Sliding underline navigation
// ----------------------------

$nav-tabbar-link-spacing: 4.8vw;
$nav-tabbar-active-link-color: $body-font-color;
$nav-tabbar-breakpoint: 625px;

.nav-tabbar {
  @include push-center;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    @include horizontal-center;
    background-color: $border-color;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100vw;
    z-index: -1;
  }

  @include breakpoint(825px) {
    &::after {
      width: 90vw;
    }
  }
}

.nav-tabbar-links {
  list-style: none;
  width: 100%;

  @include breakpoint($nav-tabbar-breakpoint) {
    width: auto;
  }
}

.nav-tabbar-item {
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;

  > a {
    @include transition(color);
    color: $gray100;
    display: block;
    padding: rem-calc(10 0);

    &:hover {
      color: $primary-color;
    }
  }

  > .local-time {
    @include horizontal-center;
    @include transition(opacity 0.55s);
    bottom: -6px;
    color: darken($gray100, 20%);
    font-size: 12px;
    opacity: 0;
    white-space: nowrap;
    text-transform: lowercase;
  }

  &.is-active {
    > a {
      color: $nav-tabbar-active-link-color;
    }

    > .local-time {
      opacity: 1;
    }
  }

  @include breakpoint($nav-tabbar-breakpoint) {
    display: inline-block;
    margin-bottom: 0;

    & + .nav-tabbar-item {
      margin-left: $nav-tabbar-link-spacing/2;
    }

    > .local-time {
      bottom: -29px;
    }
  }

  @include breakpoint(825px) {
    & + .nav-tabbar-item {
      margin-left: $nav-tabbar-link-spacing;
    }
  }
}

.nav-tabbar-underline {
  @include transition(width 0.45s ease-in-out, left 0.45s ease);
  background-color: $nav-tabbar-active-link-color;
  bottom: 0;
  display: none;
  height: 1px;
  left: 0;
  position: absolute;
  width: 72px;

  @include breakpoint($nav-tabbar-breakpoint) {
    display: block;
  }
}
